
<form class="centered">
    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" class="form-control" id="name" placeholder="Enter name">
      </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Send us your message: "></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>