<h2>Products: </h2>
<ul class="products">
    <li *ngFor="let prod of products">
        <a routerLink="/detailProd/{{prod.id}}">
            <span class="badge">{{prod.id}}</span>{{prod.Name}}
        </a> 
    </li>
</ul>

<!-- <ul class="products">
    <li *ngFor="let product of products">
      <button [class.selected]="product === selectedProduct" type="button" (click)="onSelect(product)">
        <span class="badge">{{product.Id}}</span>
        <span class="name">{{product.Name}}</span>
      </button>
    </li>
  </ul> -->
<!-- <app-details-produit [product]="selectedProduct"></app-details-produit> -->